/* styles.css */
.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    /* height: 100vh; */
}

.file-upload {
    border: 2px dashed #3498db;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.input-file {
    display: none; /* Hide the actual file input */
}

.file-label {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #2980b9; /* Change color on hover */
}
