.sidebar {
    position: relative;
    top: 0;
    left: -250px; /* Initially hidden to the left */
    width: 250px; /* Width of the sidebar */
    height: 100%;
    background-color: #FFF;
    color: #161919;
    border-right: 2px solid #555; /* Add borders to the right side */
    transition: left 0.3s; /* Add animation transition for sliding effect */
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 10px 0;
    text-align: center;
}

.sidebar-menu a {
    color: #161919;
    text-decoration: none;
    display: block; /* Make the entire menu item clickable */
    padding: 10px; /* Add some padding for better clickability */
    transition: background-color 0.3s; /* Smooth background color transition */
    font-weight: 700;
    letter-spacing: 0.2px;
}

.sidebar-menu a:hover {
    background-color:#0078A720; /* Change background color on hover */
    border-radius: 0px 8px 8px 0px ;
}

/* Style for the active (selected) menu item */
.sidebar-menu li.active a {
    background-color: transparent; /* Change background color for the active item */
    color: #0078A7; /* Adjust text color for readability */
    border-left: 3px solid;
    border-radius: 0px 8px 8px 0px ;
    font-weight: 700;
    letter-spacing: 0.2px;
    /* height: 40px; */

}
  
  
  /* Animation class to show the sidebar */
  .show-sidebar {
    left: 0;
  }

  .dt-flex{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
 

 
  