<div class="authentication-container">
    <div class="authentication-card">
        <h2>Register</h2>
        <form (ngSubmit)="registerUser()">
            <div class="form-group">
                <i class="fa fa-user"></i>
                <input type="text" name="emailId" [(ngModel)]="emailId" placeholder="Email Id" required>
            </div>
            <div class="form-group">
              <i class="fa fa-user"></i>
              <input type="text" name="userName" [(ngModel)]="userName" placeholder="User Name" required>
          </div>
            <div class="form-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <div class="form-inline">
                  <label for="isAdmin">Is Admin:</label>
                  <input type="checkbox" name="isAdmin" [(ngModel)]="isAdmin" id="isAdmin">
              </div>
          </div>
            <button type="submit">Register <i class="fa fa-sign-in"></i></button>
        </form>
    </div>
  </div>
  