/* header.component.css */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.interactive-header {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 100%;
}

/* Optional: Style for the bars when the button is clicked (active state) */
.hamburger-icon.active .bar {
  background-color: #2980b9;
}

  
.user-info {
  display: flex;
  align-items: center;
}

/* styles.css */
.user-image {
  width: 40px;
  height: 40px;
  background-color: #ddd; /* Background color for the circular container */
  border-radius: 50%; /* Creates a circular container */
  margin-right: 10px;
  overflow: hidden; /* Clip the content to the circular shape */
}

.user-image img {
  max-width: 100%; /* Ensure the image does not exceed the circular container */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.user-name p {
  margin: 0;
  font-weight: bold;
  padding-right: 10px;
}