<!-- header.component.html -->
<header class="interactive-header">
    <!-- <button >☰</button> -->
    <button (click)="onToggleSidebarClick()" id="toggleSidebarButton" class="hamburger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </button>
  <h1>SBI Life</h1>
  <div class="user-info">
    <div class="user-image">
      <img src="../../../assets/images/userImage.jpg" alt="User Image" width="40" height="40">
    </div>
    <div class="user-name">
        <p>{{userName.userName}}</p>
    </div>
</div>
    
  </header>
  